fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
langchain-anthropic
langchain-core
jinja2==3.1.2
python-dotenv==1.0.0
openai
weasyprint
beautifulsoup4
html2text
pydantic_settings
httpx[http2]
python-docx
motor==3.4.0
beanie==1.25.0
pymongo==4.6.2
passlib[argon2]
python-jose==3.5.0
pydub
